server {
	listen {{ ansible_facts.ens3.ipv4.address }}:80 default_server;
	root /var/www/html;
	index index.html index.htm index.nginx-debian.html;
	server_name _;
	location / {
		try_files $uri $uri/ =404;
	}
	proxy_set_header CF-Connecting-IP $http_x_forwarded_for;
}
